@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Add this line */
}

html,
body {
  overflow-x: hidden;
  width: 100%; /* Ensure full width */
  height: 100%; /* Ensure full height */
}

.hero-section-background {
  background: white;
}

#hero {
  background-image: url("https://t3.ftcdn.net/jpg/01/19/67/02/360_F_119670247_HDccziQUuo2kFpaNiM22dIto5I8GPAWW.jpg");
  /* background-image: url("/heroImg.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  /* background-color: aquamarine; */
  /* background: linear-gradient(to bottom, #87ceeb, #ffffff);
  height: 100vh; */
}
.dropdown {
  background-image: url("https://t3.ftcdn.net/jpg/01/19/67/02/360_F_119670247_HDccziQUuo2kFpaNiM22dIto5I8GPAWW.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
