@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html,
body {
  box-sizing: border-box;
}
.hero-section-background {
  background: white;
}
#hero {
  /* background-image: url("https://images.unsplash.com/photo-1554224155-6726b3ff858f?q=80&w=1911&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  background-image: url("/heroImg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  right: -10px;
  height: 100vh;
}
